.table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    margin-top: 20px;
  }
  td {
    border-top: 1px solid #ccc;
  }
  .d-flex{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 17px;
  }
  .buton-click{
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  Button {
    margin-left: 20px !important;
  }
  .txtretroshadow {
    font-size: 20px;
    margin: 0px !important;
    color: #2c2c2c;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    display: inline;
  }
  .btn{
    margin: 0px !important;
    height: 50px !important;
  }
.tal{
  text-align: left !important;
}

.list_id{
  display: flex;
}
.ml-20{
  margin-left: 20px;
}
.widthh{
  height: 35px !important;
  width: 70% !important;
}
.iconnn{
  color: greenyellow;
  font-size: 30px !important;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 3px;
  background-color: goldenrod;
}
.iconnn:first-child{
  margin-left: 50px;
  background-color: #2c2c2c;
  color: white;
  padding: 5px !important;
}
.iconnn:last-child{
  margin-right: 60px;

}
.page{
  margin-left: 0px !important;
}
.checklabel{
  margin-bottom: 20px;
}